.header {
    background: hsl(180, 3%, 19%);
    flex: 0 1 14em ;
    overflow-y: scroll;
    padding: 0 1em;
    max-width: 14em;
}

.logoLink {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .25em 0;
    text-decoration: none;
    width: 100%;
    /* transition: box-shadow .2s ease-out, transform .2s ease-out; */
    transition: transform .2s ease-out;
}

.logoLink:hover,
.logoLink:focus {
    outline: none;
    transform: translateY(-1px);
    /* box-shadow: 0 6px 12px 0 hsla(44, 86%, 70%, 0.19), 0 2px 4px 0 hsla(44, 86%, 70%, 0.23); */
}

.logoLink:hover .title,
.logoLink:focus .title {
    color: hsl(44, 86%, 70%);
}

.title {
    color: hsl(180, 16%, 89%);
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0;
    letter-spacing: 0.5px;
}

.nav {
    margin: 1em 0 0 0;
}

.navList {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navLink {
    background: linear-gradient(hsl(178, 3%, 22%), hsl(182, 3%, 22%));
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 hsla(180, 3%, 42%, 0.12), 0 4px 6px 0 hsla(180, 3%, 42%, 0.18);
    color: hsl(207, 100%, 98%);
    display: block;
    letter-spacing: 0.5px;
    margin: .25em 0;
    padding: .125em .5em;
    text-decoration: none;
    transition: color .3s ease-out, box-shadow .2s ease-out, transform .2s ease-out;
}

.navLink:hover,
.navLink:focus {
    color: hsl(44, 86%, 70%);
    transform: translateY(-1px);
    box-shadow: 0 6px 12px 0 hsla(44, 86%, 70%, 0.19), 0 2px 4px 0 hsla(44, 86%, 70%, 0.23);
    outline: none;
}

.activeLink {
    color: hsl(44, 86%, 70%);
}

.socialLink {
    /* bottom: .75em; */
    display: block;
    height: 40px;
    /* position: fixed; */
    width: 40px;
    /* z-index: -1; */
}

/* .themeButton{
    background: hsl(180, 16%, 89%);
    border: none;
    border-radius: 50%;

    height: 48px;
    padding: 0;
    width: 48px;

}

.themeSVG {
    width: 36px;
} */
